# Dependency directories
node_modules/

# Build files
/build

# Environment variables file
.env

# Cache directories
cache/
cache

.cached/
.tmp/

# Cache files
cache/solidity-files-cache.json

# Artifacts directories
artifacts/
build/
dist/

